.main {
  font-family: "Inter", sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

@media (max-width: 1200px) {
  .main {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
