.second-column {
  display: flex;
  flex-direction: column;
}

.second-column__wrappper {
  display: flex;
}

.column__content__rectangle {
  min-height: 247px;
  width: 50%;
  background-color: #a6806b;
}
