.second-column {
  display: flex;
  flex-direction: column;
}

.second-column__wrappper {
  display: flex;
}

.second-column__rectangle {
  height: 247px;
  width: 49%;
  background-color: #a6806b;
}

.second-column__picture {
  width: 51%;
}

@media (min-width: 1536px) {
  .second-column__wrappper {
    height: 100%;
  }

  .second-column__rectangle {
    height: auto;
    min-height: 247px;
  }
}

@media (max-width: 768px) {
  .second-column__rectangle {
    width: 50%;
  }
  .second-column__picture {
    width: 50%;
  }
}
